<mat-card>
    <div class="pre-header">
        <a  mat-card-avatar class="container" matTooltip="Edit the profile picture" (click)="openDialog()" matTooltipPosition="below" >
            <img  mat-card-avatar [src]="profilePicture"  
            alt="My profile picture" *ngIf="hasProfilePicture; else noImageFound">
        
        </a>
        <ng-template #noImageFound>
            
            <img mat-card-avatar [src]="(myProfile | async).picture" alt="Default profile picture">
        </ng-template>
    </div>
    <mat-card-header>
     
        <mat-card-title>
            <h1><strong>My Account</strong></h1>
        </mat-card-title>
        <mat-card-subtitle>
            <h2><strong [innerHTML]="(myProfile | async).name"></strong></h2>
        </mat-card-subtitle>


    </mat-card-header>

    <mat-card-content>
        <mat-grid-list cols="4" rowHeight="1:0.5">
            <mat-grid-tile>
                <div class="grid-content">
                    <div class="sub-content">
                        <span><strong> Member since </strong></span>
                        <span [innerHTML]="(myProfile | async).created_at  | date : 'dd-MM-yyyy HH:mm:ss'"> </span>
                    </div>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div class="grid-content">
                    <div class="sub-content">
                        <span><strong> Account type </strong></span>
                        <span> Standard </span>
                    </div>
                    <div class="sub-content">
                        <span><strong>Points</strong></span>
                        <span> 500 </span>
                    </div>
                </div>
            </mat-grid-tile>

            <mat-grid-tile>
                <div class="grid-content">
                    <div class="sub-content">
                        <span><strong> Bla bla bla </strong></span>
                        <span> bla bla bla </span>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Log out</span>
        </button>
        <button mat-raised-button color="warn" (click)="logout()">
            <mat-icon>delete_forever</mat-icon>
            <span>Delete </span>
        </button>
    </mat-card-actions>
</mat-card>

<mat-card>
    <mat-card-header>
        <h1><strong>My Dashboard</strong></h1>
    </mat-card-header>
    <mat-card-content>
        <mat-tab-group dynamicHeight>
            <mat-tab label="General">
                <ngx-charts-number-card [scheme]="colorScheme" [results]="myData" [cardColor]="cardColor">
                </ngx-charts-number-card>
            </mat-tab>
            <mat-tab label="Settings 2">
                <span>LOREM IPSUM</span>
            </mat-tab>
        </mat-tab-group>

    </mat-card-content>
</mat-card>


<mat-card>
    <mat-card-header>
        <h1><strong>My Settings</strong></h1>
    </mat-card-header>
    <mat-card-content>
        <mat-tab-group dynamicHeight>
            <mat-tab label="Personal data">
                <div class="grid-content">
                    <span>LOREM IPSUM</span>
                </div>
            </mat-tab>
            <mat-tab label="My plans">
                <div class="grid-content">
                    <span>LOREM IPSUM</span>
                </div>
            </mat-tab>
        </mat-tab-group>

    </mat-card-content>
</mat-card>