<mat-grid-list  cols="3" rowHeight="fit">
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h2> Chat options </h2>
                </mat-card-title>

            </mat-card-header>
            <mat-card-content>
                Lorem ipsum
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h2> Chat content</h2>
                </mat-card-title>
     
            </mat-card-header>
            <mat-card-content>
                Lorem ipsum
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h2> Shared content </h2>
                </mat-card-title>
     
            </mat-card-header>
            <mat-card-content>
                Lorem ipsum
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>