<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1><strong>Welcome to My Space</strong></h1>
        </mat-card-title>
        <mat-card-subtitle *ngIf="spaceServices.isSpaceValid">
            <h2> Here you can store everything you want</h2>
            <button mat-raised-button>
                Share a bit of your space !
            </button>
            
            <button mat-raised-button>
                Invite a friend !
            </button>
    
            <h3>Created on <strong [innerHTML]="(myConfig?.created_at | date: 'dd-MM-yyyy')"></strong></h3>
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="!spaceServices.isSpaceValid">
            <h2> It appears your space has not been created yet </h2>
            <button mat-raised-button *ngIf="!loading" (click)="initializeMySpace()">
                Initialize my space
            </button>
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
     
        <div *ngIf="spaceServices.isSpaceValid">
            <h2><strong>Current folder : {{ spaceServices.absolutePath }}</strong></h2>
            <strong>Access folders</strong>
            <button mat-raised-button *ngFor="let value of spaceServices.folders; let i = index;" (click)="travelTo(i)">{{value}}</button>
  
        </div>
        <mat-toolbar *ngIf="spaceServices.isSpaceValid">
            <button class="centered"  mat-icon-button>
                <mat-icon>note_add</mat-icon>
            </button >
            <button class="centered"  mat-icon-button>
                <mat-icon>reorder</mat-icon>
            </button >
            <button class="centered"  mat-icon-button (click)="refreshFiles()">
                <mat-icon>refresh</mat-icon>
            </button >
              
            <button class="centered"  mat-icon-button>
                <mat-icon>import_export</mat-icon>
            </button >
        
            <button class="centered"  mat-icon-button>
                <mat-icon color="warn" *ngIf="oneSelection" >clear</mat-icon>
                <mat-icon  color="primary" *ngIf="!oneSelection" > done_all</mat-icon>
            </button >
        </mat-toolbar>

        <mat-action-list role="list" *ngIf="!spaceServices.isSpaceValid">
            <mat-list-item role="listitem" *ngFor="let data of statuses | keyvalue">

                <h2 mat-line [innerHTML]="ProcessFunction[data.value.function]"> </h2>
                <p mat-line  [innerHTML]="data.value.payload"></p>
                <mat-progress-spinner *ngIf="isOngoing(data.value)" diameter="32" strokeWidth="5" mode="indeterminate"></mat-progress-spinner>
                <mat-icon *ngIf="!isOngoing(data.value)" [className]="InfoType[data.value.type]">{{InfoType[data.value.type]}}</mat-icon>
            </mat-list-item>
        </mat-action-list>

        <mat-action-list role="list" *ngIf="spaceServices.isSpaceValid">
            <cdk-virtual-scroll-viewport [itemSize]="30">
                <mat-list-item role="listitem" *cdkVirtualFor="let node of files$ | async" (click)="setCurrentFolder(node); $event.stopPropagation()">
                    <!--<mat-checkbox [(ngModel)]="fileDetails(node.name).selected"></mat-checkbox>-->

                    <button mat-icon-button class="mat-24 centered file-type">
                        <mat-icon svgIcon="{{ FileType[node.type] | lowercase }}"></mat-icon>
                    </button>
                    <h2 mat-line><strong>{{node.name}}</strong></h2>


                    <h3 mat-line *ngIf="node.type !== FileType.FOLDER">
                        Size : {{ node.size / 1000}} KB
                    </h3>

                    <button mat-icon-button (click)="$event.stopPropagation()" class="mat-24 centered">
                        <mat-icon>cloud_download</mat-icon>
                    </button>

                    <button mat-icon-button (click)="$event.stopPropagation()" class="mat-24 centered">
                        <mat-icon>remove_red_eye</mat-icon>
                    </button>

                    <button mat-icon-button (click)="$event.stopPropagation()" class="mat-24 centered">
                        <mat-icon>settings_applications</mat-icon>
                    </button>

                    <button mat-icon-button (click)="$event.stopPropagation()" color="warn" class="mat-24 centered">
                        <mat-icon>delete_forever</mat-icon>
                    </button>

                    <mat-icon class="mat-24" *ngIf="node.type !== FileType.FILE">chevron_right
                    </mat-icon>

                </mat-list-item>
            </cdk-virtual-scroll-viewport>
        </mat-action-list>
    </mat-card-content>
</mat-card>