mat-card-actions{
    bottom: 0;
    position: sticky;
    z-index: 500;
}

.long-button{
    width: 100%;
    cursor: pointer;
    text-align: left;
    justify-content: left;
}



.right{
    height:100%;
}

.file-type{
    background-color: rgba($color: #ffb17d, $alpha: 1.0);
}

 mat-card-content{
    //height:80vh;
}
mat-card{
    //height:90vh;
    //overflow: hidden;
}
cdk-virtual-scroll-viewport{
    width: 100%;
    height: 100%;
  }

  mat-action-list{
    width: 100%;
    height: 100vh;
  }

  mat-checkbox{
      margin: 0 10px;
  }

  button{
    margin: 0 10px;
  }

  mat-toolbar{
    display:flex;
    justify-content: space-evenly;
  }

  .error {
    color: red;
  }

  .warning{
    color: orange;
  }

  .info {
    color: darkblue;
  }

  mat-progress-spinner{
    float : left;
  }

  .cover {
    max-width:40% !important;
    align-self: center;
  }