.delete-button {
    color: red;
}


mat-toolbar{
    display:flex;
    justify-content: space-evenly;
  }

  .error {
    color: red;
  }

  .warning{
    color: orange;
  }

  .info {
    color: darkblue;
  }

  .selected{
    background: rgba(150,150,150,0.50);
  }
  .selected:hover{
    background: rgba(75,75,75,0.50);

  }
/*
  ::ng-deep .mat-list-item-content{
    flex-direction: row-reverse !important;
  }*/