::ng-deep .mat-tab-label .mat-tab-label-active{
    width: 33% !important;;
}

::ng-deep  .mat-tab-label {
    width: 33% !important;;
}

::ng-deep mat-tab-group{
    justify-content: center !important;
    text-align: center !important;
}