<mat-grid-list cols="4" gutterSize="5px">
    <mat-grid-tile>
        <a mat-button routerLink="/home" >
            <img src="assets/images/mainlogo.png">
        </a>
    </mat-grid-tile>
    <mat-grid-tile>
        <a mat-button routerLink="/chat/contacts" >
            <img src="assets/images/chat.png">
        </a>
    </mat-grid-tile>
    <mat-grid-tile>
        <a mat-button routerLink="/myspace" >
            <img src="assets/images/filemanager.png">
        </a>
    </mat-grid-tile>
    <mat-grid-tile>
        <a mat-button routerLink="/account" >
            <img src="assets/images/myspace.png">
        </a>
    </mat-grid-tile>

</mat-grid-list>